
@media only screen and (max-width: 520px) {


.logo_container img{
	width: 40px;
	height: 30px;
	margin: 0rem;
}

.logo_container h3{
  font-size: 1.2rem!important;
}

.home_container{
	padding: 0.5rem!important;
}

.image_container img{
	width: 300px;
	height: 230px;
}

.home_about h3{
	margin-top: 1rem;
	font-size: 1.5rem!important;
}

.registration_container{
	width: 20rem;
	padding: 0.5rem;
	margin: 1rem 0.2rem;
}

.regis_img_container img{
	width: 280px!important;
	height: 220px;
}

.input_container{
	margin: 0.3rem!important;
	flex-direction: row!important;
	justify-content: space-between;
}

.input_container input{
	width: 12rem!important;

}

.regis_form p{
	 padding-top: 0.2rem!important;
	}

.category input,label{
	margin: 0.5px!important;
}

.total_info{
  width: 18rem!important;
  padding: 0.3rem!important;
}

.total_info p{
   font-size: 3rem!important;
}

.form_container{
	width: 18rem!important;
}

.student_input div{
		margin: 0rem 2rem!important;
}

.student_input input{
	width: 12rem!important;

}

.student_profile{
	width: 17rem!important;
}

.student_data div{
	margin: 0.5rem auto!important;
}


.notice_box{
   width: 18rem!important;
   height: 12rem!important;
   margin: 0.5rem!important;
}



.search_box{
	margin-top: 0rem!important;
}

.search_box input{
	width: 16rem!important;
}

.student_box{
	width: 21rem!important;
	height: 26rem!important;
	margin: 1rem auto!important;
	padding: 0.5rem!important;
}


.student_info{
	width: 28rem!important;
}


.cutIcon{
	top: 0.5rem!important;
	right: 0.5rem!important;
}

.notice_input input{
	width: 14rem!important;
  }

.student_profile{
	margin: 0.5rem!important;
} 

.profile_img img{
	width: 100px;
	height: 100px;
} 

.student_data div{
  margin: 0.2rem!important;
}


.Error_container{
    justify-content: center;
}  

.Error_container h1{
	font-size: 10rem!important;
} 

.Error_container p{
	font-size: 2rem!important;
} 

}